# Replicas and resources for QA deployments
apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-important
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: "*"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
