# Redpanda Service
apiVersion: v1
kind: Service
metadata:
  name: redpanda
  namespace: cryptojackpot
  labels:
    app: redpanda
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
    - port: 8081
      targetPort: 8081
      name: schema-registry
    - port: 8082
      targetPort: 8082
      name: http-proxy
    - port: 9644
      targetPort: 9644
      name: admin
  selector:
    app: redpanda
